/* Admin - Reportes */
.chart-container {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 768px) {
    .chart-container {
        grid-template-columns: 1fr;
    }
}
